

.details {
  height: 25vh;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: var(--spacing8);
  overflow: hidden;
}


.details__state--show-more:checked + .details {
  height: auto;
}


/*
 * details__ctrl--toggle-show-more  requires an positioned
 * preferably relatively positioned parent.
 */

.details__ctrl--toggle-show-more {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg,
                              hsla(0, 0%, 0%, 1),
                              hsla(0, 0%, 0%, 0));
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.details__ctrl--toggle-show-more::before {
  content: "show more...";
}

.details__state--show-more:checked ~
.details__ctrl--toggle-show-more::before {
  content: "show less...";
}
