
:root {
  --spacing1: 0.5rem;
  --spacing2: 1rem;
}


.navigation {
  width: 100%;
  position: fixed;
  height: 1px;

  display: flex;
  z-index: 3;
}


.slide-nav {
  box-sizing: border-box;
  height: 100vh;
  width: 80%;
  margin: 0;
  padding: var(--spacing2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  position: relative;
  left: 0;

  box-shadow: var(--shadow-one), var(--default-shadow);

  background: url("./img/logo.png"),
              url("./img/carbon_bg.gif");

  background-size: 80%, cover;
  background-repeat: no-repeat, repeat;
  background-position: center 80%, center;

  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}


.slide-nav::after {
  content: " ";
  height: 40vh;
  width: 100%;
}


.slide-nav--collapse {
  left: -100%;
}


.slide-nav__toggle {
  padding: var(--spacing1);
  position: absolute;
  top: var(--spacing2);
  right: var(--spacing2);

  font-size: 125%;
}


.slide-nav__item {
  width: 100%;
  display: flex;
  align-items: stretch;
  list-style: none;
}


.nav-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--primary-text-color);
  display: flex;
  flex: 1 1 0;
  display: none;
}


.nav-link {
  text-decoration: none;
  display: flex;
}

.nav-link:hover, .nav-item:hover,
.nav-link:focus, .nav-item:focus,
.nav-link:active, .nav-item:active {
  color: var(--tertiary-color);
  outline: none;
}


.slide-nav__ctrl--left,
.slide-nav__ctrl--right  {
  display: none;
}


@media (min-width: 768px) {
  .navigation {
    height: auto;
    width: 90%;
    margin: 0 auto;
    order: 2;
    flex-wrap: nowrap;
    overflow-x: hidden;

    position: relative;
  }


  .slide-nav {
    height: auto;
    width: 120rem;
    padding: var(--spacing1) 0;
    flex-wrap: nowrap;
    align-items: flex-end;
    left: 0;
    background: none;
    box-shadow: none;
    z-index: 1;
  }


  .slide-nav::after {
    content: none;
  }


  .slide-nav__item {
    width: 20em;
    height: 8em;
    margin: 0 var(--spacing1);
    text-align: center;
    background: url("./img/rogue-nation.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    box-shadow: 0.1rem 0.2rem 0.5rem var(--primary-shadow-color);
  }


  .nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
  }


  .nav-link {
    display: none;
  }


  .slide-nav__ctrl--left,
  .slide-nav__ctrl--right  {
    width: 5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--hsla-blue-light);
    font-size: 2em;
    text-decoration: none;

    position: absolute;
    z-index: 2;
  }


  .slide-nav__ctrl--left {
    background: linear-gradient(90deg,
                                hsla(0, 0%, 0%, 1),
                                hsla(0, 0%, 0%, 0));
  }


  .slide-nav__ctrl--right {
    right: 0;
    background: linear-gradient(270deg,
                                hsla(0, 0%, 0%, 1),
                                hsla(0, 0%, 0%, 0));
  }


  .slide-nav__toggle {
    display: none;
  }
}
