

.navigation {
  /*
  --light-slate-grey: hsla(210, 14%, 53%, 1);
  --primary-color: blue;
  --primary-font-color: var(--light-slate-grey);
  */

  display: flex;

  box-sizing: border-box;
  z-index: 4;
}


.navigation__component { display: flex; }


@media (max-width: 767px) {
  .navigation {
    width: 100%;
    height: 1px;

    position: fixed;
  }


  /*
   * At this screen size the only two sub-components should be
   * visible. Ideally the nav itself and the menu hamburger.
   *
   */

  .nav__state--visibility:checked ~ .list--nav { left: 0; }

  .list--nav {
    width: 20rem;
    height: 100vh;
    margin: 0;
    flex: 0 1 auto;

    box-shadow: var(--shadow-one), var(--default-shadow);

    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    left: -100%;

    background: url("./img/logo.png"),
                url("./img/carbon_bg.gif");
    background-size: 80%, auto;
    background-repeat: no-repeat, repeat;
    background-position: center 80%, center;

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }


  .list--nav__item {
    flex: 0 1 2.5rem;
    list-style-type: none;
  }


  .nav__ctrl--toggle-visibility {
    box-sizing: border-box;
    padding-left: var(--spacing2);
    margin: var(--spacing1) var(--spacing1) 0 auto;

    font-size: 150%;
  }


  .nav__ctrl--slide-left,
  .nav__ctrl--slide-right {
    display: none;
  }
}


@media (min-width: 768px) {
  .navigation {
    width: 90%;
    margin: var(--spacing2) auto var(--spacing2) auto;
    align-items: flex-end;
    overflow-x: hidden;

    position: relative;
  }


  .nav__ctrl--slide-left,
  .nav__ctrl--slide-right {
    height: 100%;
    width: 8rem;
    padding-bottom: var(--spacing1);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    text-decoration: none;
    font-size: 200%;
    color: var(--primary-font-color);

    z-index: 2;
  }


  .nav__ctrl--slide-left {
    background: linear-gradient(90deg,
                                hsla(0, 0%, 0%, 1),
                                hsla(0, 0%, 0%, 0));
  }


  .nav__ctrl--slide-right {
    right: 0;
    background: linear-gradient(270deg,
                                hsla(0, 0%, 0%, 1),
                                hsla(0, 0%, 0%, 0));
  }


  .nav__ctrl--slide-right:active ~ .list--nav,
  .nav__ctrl--slide-left:active ~ .list--nav .list--nav__item {
    animation-play-state: running;
  }


  .list--nav,
  .list--nav__item {
    position: relative;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }


  .list--nav {
    height: 100%;
    width: 100%;
    padding-bottom: 0.7rem;
    align-items: flex-end;
    animation-name: slide-right;
  }


  .list--nav__item {
    box-sizing: border-box;
    height: 40%;
    margin-left: var(--spacing2);
    border-top-style: solid;
    border-width: 0.1rem;
    border-color: var(--primary-color);
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    flex: 0 0 20rem;
    opacity: 0.8;
    animation-name: slide-left;
	transition-property: height;
	transition-duration: 0.3s;
  }


  .list--nav__item:hover,
  .list--nav__item:active,
  .list--nav__item:focus {
    height: 75%;
    background: linear-gradient(0deg,
                                hsla(0, 0%, 0%, 0.8),
                                hsla(0, 0%, 0%, 0.8)),
                                url("./img/rogue-nation.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    box-shadow: 0.1rem 0.2rem 0.5rem var(--primary-shadow-color);
  }

  .nav__ctrl--toggle-visibility { display: none; }
}


@keyframes slide-left {
  from {left: 0rem;}
  to {left: 500rem;}
}


@keyframes slide-right {
  from {left: 0rem;}
  to {left: -500rem;}
}
