.panel__content {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-name: collapse-panel;
}
.panel__content__state--visibility:checked ~ .panel__content {
  animation-name: expand-panel;
}
@keyframes expand-panel {
  0% { height: 0; }
  99% { height: 105vh; }
  100% { height: auto; }
}
@keyframes collapse-panel {
  0% { height: auto; }
  1% { height: 105vh; }
  100% { height: 0; }
}
