.profile {
  margin-bottom: var(--spacing8);
}

.profile__content {
  position: relative;
}

.profile__banner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing6);
}

.profile-img {
  width: 12rem;
  height: 14rem;
  flex: 0 1 auto;
  border-radius: 0.2rem;
}

.profile-caption {
  flex: 1 1 0;
}
