
.responsive-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}


.info-card:first-of-type {
  margin-top: var(--spacing2);
}


.info-card__header {
  min-height: var(--spacing6);
  margin-top: 0;
  margin-bottom: var(--spacing1);
  border-radius: 0.2rem;
  text-align: center;
  opacity: 0.7;

  color: var(--primary-text-color);

  display: flex;

  background-image: url("./img/carbon_bg.gif");
  background-repeat: repeat;
}


.info-card__toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.state-store ~ .info-card__content,
.state-store:checked ~ .info-card__content {
  animation-timing-function: linear;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}


.state-store ~ .info-card__content {
  animation-name: collapse;
}


.state-store:checked ~ .info-card__content {
  animation-name: expand;
}


.info-card__toggle:active,
.info-card__toggle:focus,
.state-store:checked ~ .info-card__header {
  color: var(--secondary-color);
}


.state-store:checked ~ .info-card__header {
  box-shadow: 0.1rem 0.3rem 0.4rem var(--hsla-red-half);
}


.profile {
  margin-top: var(--spacing8);
  padding-left: var(--spacing2);
  padding-right: var(--spacing2);
}


.profile__banner {
  margin: var(--spacing2) 0;
  max-width: 10rem;
}


.profile__main {
  position: relative;
}


.profile__details {
  height: 25vh;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}


.state-store:checked ~ .profile__details {
  height: auto;
}


.read-more {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg,
                              hsla(0, 0%, 0%, 1),
                              hsla(0, 0%, 0%, 0));
}


.read-more::before {
  content: "show more...";
}


.state-store:checked ~ .read-more {
  height: auto;
  position: relative;
}


.state-store:checked ~ .read-more::before {
  content: "...show less";
}


.info-card__content {
  height: 0;
  overflow: hidden;
}


.profile-list {
  list-style-type: none;
  padding-left: var(--spacing2);
}


.profile-list__item {
  padding-top: var(--spacing1);
  padding-bottom: var(--spacing1);
  display: flex;
  flex-wrap: nowrap;
}


.profile-link {
  text-decoration: none;
  color: var(--tertiary-color);
}


.profile-link:focus,
.profile-link:active {
  color: var(--secondary-color);
}


@keyframes expand {
  0% { height: 0; }
  99% { height: 105vh; }
  100% { height: auto; }
}


@keyframes collapse {
  0% { height: auto; }
  1% { height: 105vh; }
  100% { height: 0; }
}
