
:root {
/*
 * from colors.css
 */

  --light-slate-grey: hsla(210, 14%, 53%, 1);
  --hsla-light-slate-grey-light: hsla(210, 14%, 53%, var(--alpha-light));
  --hsla-half-slate-grey-half: hsla(210, 14%, 53%, var(--alpha-half));
  --hsla-full-slate-grey-full: hsla(210, 14%, 53%, var(--alpha-full));

  --dark-slate-grey: hsla(180, 25%, 25%, 1);
  --hsla-dark-slate-grey-light: hsla(180, 25%, 25%, var(--alpha-light));
  --hsla-dark-slate-grey-half: hsla(180, 25%, 25%, var(--alpha-half));

  --red: hsla(0, 100%, 50%, 1);
  --hsla-red-light: hsla(0, 100%, 50%, var(--alpha-light));
  --hsla-red-half: hsla(0, 100%, 50%, var(--alpha-half));
  --hsla-red-full: hsla(0, 100%, 50%, var(--alpha-full));

  --black: hsla(0, 0%, 0%, 1);
  --hsla-black-light: hsla(0, 0%, 0%, var(--alpha-light));
  --hsla-black-half: hsla(0, 0%, 0%, var(--alpha-half));
  --hsla-black-full: hsla(0, 0%, 0%, var(--alpha-full));

  --blue: hsla(240, 100%, 50%, 1);
  --hsla-blue-light: hsla(240, 100%, 50%, var(--alpha-light));
  --hsla-blue-half: hsla(240, 100%, 50%, var(--alpha-half));
  --hsla-blue-full: hsla(240, 100%, 50%, var(--alpha-full));

  --primary-color: var(--black);
  --secondary-color: var(--red);
  --tertiary-color: var(--blue);

  --default-shadow-color: var(--dark-slate-grey);
  --primary-shadow-color: var(--tertiary-color);


  --primary-font-color: var(--light-slate-grey);

	--shadow-one: 0.1rem 0rem 1.5rem var(--tertiary-color);
	--default-shadow: 3rem 0rem 5rem var(--black);

  color: var(--primary-font-color);
}


body {
  margin: 0;
  padding: 0;
}

p, h1 {
	margin: 0;
}

.main {
  width: 100%;
  background: var(--primary-color);
  background-position: -20rem -5rem;
  background-repeat: no-repeat;
  background-size: 180%;
}
